#viewDiv {
  position: relative;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#menu {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

#menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

#menu>ul>li {
  display: inline-block;
  position: relative;

}

#menu li a img {
  vertical-align: middle;
  background: transparent;
  border: none;
}

#menu li a {

  color: #333;
  padding: 10px;
  text-decoration: none;
  display: block;
  background: transparent;

}

#menu ul ul {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background: white;
  min-width: 160px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

#menu li:hover>ul {
  display: block;
}

#menu li:hover>a {
  background: #e8e8e8;
}

#menu li ul li {
  display: block;
}

#menu li ul li a {
  padding: 10px;
}

#menu li ul li:hover>ul {
  display: block;
}
